* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 10px;
}

h1, h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  min-height: 100vh;
}
.header__box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(27, 35, 46, 0.85);
  z-index: 1;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .header__box {
    display: none;
  }
}
.header__box-img {
  width: 30%;
}
.header .hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  z-index: 2;
}
.header .hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}
.header .hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #d00;
}
.header .hamburger__bars::before, .header .hamburger__bars::after {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #d00;
}
.header .hamburger__bars::before {
  top: -12px;
}
.header .hamburger__bars::after {
  bottom: -12px;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .header .hamburger {
    display: none;
  }
}
.header .hamburger.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .hamburger.active + .hamburger {
  -webkit-transform: translateY(400px);
          transform: translateY(400px);
}
.header .hamburger.active + aside {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.header__info {
  background-color: rgb(27, 35, 46);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 667px) and (orientation: landscape) {
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 0 auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50vh;
  padding: 20px;
}
@media (min-width: 720px) and (orientation: landscape) {
  .header__title {
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 667px) and (orientation: landscape) {
  .header__title {
    width: 40%;
    max-width: 800px;
    height: 100vh;
    padding: 30px;
  }
}
.header__title-h1 {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  color: #fff;
  text-align: center;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .header__title-h1 {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.header__title-h1 .hilight {
  color: #d00;
}
.header__title-p {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 20px;
  color: #fff;
  text-align: center;
}
.header__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto 0 auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50vh;
  background-image: url("../images/headerimg.png");
  background-size: cover;
  background-position: 50% 50%;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
@media (min-width: 667px) and (orientation: landscape) {
  .header__photo {
    width: 40%;
    height: 100vh;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: rgb(27, 35, 46);
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
aside .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}
aside .logo .logo-mobile {
  width: 40%;
}
aside .navigation__menu {
  list-style: none;
}
aside .navigation__menu-item {
  text-align: center;
  margin-bottom: 10px;
}
aside .navigation__menu-item a {
  margin: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
  color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
aside .navigation__menu-item a:hover {
  color: #d00;
}
aside .navigation__menu-item a.active {
  color: #d00;
}
aside .navigation__menu-item-dialer a {
  padding: 7px 15px;
  background-color: #d00;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
}
@media (min-width: 667px) and (orientation: landscape) {
  aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  aside {
    display: none;
  }
}
aside .socials {
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin-bottom: 20px;
}

.desktop {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(27, 35, 46);
  padding: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: padding 0.3s ease, background-color 0.3s ease;
  transition: padding 0.3s ease, background-color 0.3s ease;
}
.desktop .navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.desktop .navigation__menu-item {
  text-align: center;
  margin-bottom: 10px;
}
.desktop .navigation__menu-item a {
  margin: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
  color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.desktop .navigation__menu-item a:hover {
  color: #d00;
}
.desktop .navigation__menu-item a.active {
  color: #d00;
}
.desktop .navigation__menu-item-dialer a {
  padding: 7px 15px;
  background-color: #d00;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
}
.desktop .logo-desktop {
  width: 40%;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sticky {
  padding: 25px;
  background-color: rgba(27, 35, 46, 0.85);
}

.intro {
  margin-bottom: 20px;
}
.intro__title {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  text-transform: uppercase;
  text-align: center;
  color: #d00;
  margin: 15px auto;
  width: 80%;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .intro__title {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.intro__item {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .intro__item {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .intro__item {
    width: 80%;
  }
}
.intro__item-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__item-photo .intro-img, .intro__item-photo .intro-img-right {
  width: 40%;
}
@media (min-width: 768px) {
  .intro__item-photo .intro-img, .intro__item-photo .intro-img-right {
    width: 75%;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .intro__item-photo .intro-img, .intro__item-photo .intro-img-right {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .intro__item-photo .intro-img, .intro__item-photo .intro-img-right {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .intro__item-photo .intro-img-right {
    grid-column: 3/4;
  }
}
.intro__info {
  grid-column: 2/4;
}
.intro__info-title, .intro__info-text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .intro__info-title, .intro__info-text {
    grid-column: 2/4;
  }
}
@media (min-width: 768px) {
  .intro__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.intro__info-right {
  grid-column: 1/3;
  grid-row: 1;
}
@media (min-width: 768px) {
  .intro__info-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.intro__info-title {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
}
@media (min-width: 2000px) and (orientation: landscape) {
  .intro__info-title {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.intro__info-text {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 20px;
}

.gallery {
  width: 100%;
  margin: 0 auto;
}
.gallery__title {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  color: #d00;
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .gallery__title {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.gallery__item {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .gallery__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .gallery__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .gallery__item {
    max-width: 2200px;
    margin: 0 auto;
  }
}
.gallery__item-photo {
  height: 50vh;
  background-image: url("../images/headerimg.png");
  background-size: cover;
}
@media (min-width: 768px) {
  .gallery__item-photo {
    grid-column: 1/2;
    height: 65vh;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .gallery__item-photo {
    grid-column: 1/2;
    height: 65vh;
  }
}
.gallery__item-photo-right {
  height: 50vh;
  background-image: url("../images/headerimg.png");
  background-size: cover;
}
@media (min-width: 768px) {
  .gallery__item-photo-right {
    grid-column: 2/3;
    height: 65vh;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .gallery__item-photo-right {
    grid-column: 2/3;
    height: 65vh;
  }
}
.gallery__item-text {
  padding: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .gallery__item-text {
    grid-column: 2/3;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .gallery__item-text {
    grid-column: 2/3;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.gallery__item-text-right {
  padding: 20px;
  background-color: #f2f2f2;
}
.gallery__item-text-right h2 {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  color: #d00;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .gallery__item-text-right h2 {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.gallery__item-text-right p {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 15px;
}
@media (min-width: 768px) {
  .gallery__item-text-right {
    grid-column: 1/2;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .gallery__item-text-right {
    grid-column: 1/2;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.gallery__item-text h2 {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  color: #d00;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .gallery__item-text h2 {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.gallery__item-text p {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 15px;
}

.accordion {
  margin: 0 auto;
  position: relative;
}
.accordion__title {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  text-transform: uppercase;
  text-align: center;
  color: #d00;
  margin: 15px;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .accordion__title {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.accordion__item {
  margin-bottom: 15px;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .accordion__item {
    width: 70%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .accordion__item {
    max-width: 1600px;
  }
}
.accordion__item-title {
  font-size: clamp(1.8rem, 2.2vw, 2.2rem);
  padding: 20px;
  cursor: pointer;
  color: rgb(27, 35, 46);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 2px solid rgb(179, 179, 179);
}
.accordion__item-title .fa-plus, .accordion__item-title .fa-minus {
  margin-right: 15px;
  color: #d00;
}
.accordion__item-text {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  padding: 10px;
}
.accordion__item-text .fa-check {
  color: #0d0;
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-right: 5px;
}
.accordion__item-content {
  max-height: 0;
  overflow: hidden;
  margin: 15px;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}
.accordion .active .accordion__item-title {
  border: none;
  color: #d00;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
article.active .content-text {
  display: block;
  -webkit-animation: fadeIn 0.3s ease;
          animation: fadeIn 0.3s ease;
}

.map {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .map {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.map__info {
  padding: 20px;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .map__info {
    width: 45%;
  }
}
.map__info-title {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  text-transform: uppercase;
  color: #d00;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .map__info-title {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.map__info-text {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 15px;
}
.map__container {
  height: 40vh;
  width: 90%;
  border-radius: 12px;
}
@media (min-width: 768px) {
  .map__container {
    width: 75%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .map__container {
    height: 60vh;
    width: 45%;
  }
}

.footer {
  background-color: rgb(27, 35, 46);
  color: #fff;
  padding: 20px;
}
.footer__wrapper {
  padding: 15px;
}
@media (min-width: 720px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .footer__wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) and (orientation: landscape) {
  .footer__wrapper {
    width: 75%;
    max-width: 1600px;
  }
}
.footer__wrapper__adress, .footer__wrapper__contact, .footer__wrapper__rodo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  max-width: 33%;
}
.footer__adress, .footer__contact, .footer__rodo {
  margin-top: 30px;
}
.footer__adress h3, .footer__contact h3, .footer__rodo h3 {
  font-size: clamp(2.2rem, 4vw, 3rem);
}
.footer__adress-details, .footer__contact-details, .footer__rodo-pdf {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 5px;
}
.footer__rodo-pdf {
  color: #d00;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  display: block;
}
.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}
.footer__author img {
  width: 40%;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__details {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  text-align: center;
}

.footernav {
  margin-top: 20px;
}
@media (min-width: 720px) {
  .footernav {
    margin-right: 100px;
  }
}
@media (min-width: 1024px) {
  .footernav {
    margin: 0;
  }
}
.footernav__menu {
  list-style: none;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .footernav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footernav__menu-item {
  text-align: center;
  margin-bottom: 10px;
}
.footernav__menu-item a {
  margin: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
  color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.footernav__menu-item a:hover {
  color: #d00;
}
.footernav__menu-item a.active {
  color: #d00;
}
.footernav__menu-item-dialer {
  text-align: center;
}
.footernav__menu-item-dialer a {
  padding: 7px 15px;
  background-color: #d00;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
}/*# sourceMappingURL=style.css.map */