* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
}

h1, h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  min-height: 100vh;
}
.header__box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(27, 35, 46, 0.85);
  z-index: 2;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .header__box {
    display: none;
  }
}
.header__box-img {
  width: 30%;
}
@media (min-width: 667px) and (orientation: landscape) {
  .header__box-img {
    width: 15%;
  }
}
.header__box:has(.hamburger.active) + aside {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.header .hamburger {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.header .hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}
.header .hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #c1a370;
}
.header .hamburger__bars::before, .header .hamburger__bars::after {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #c1a370;
}
.header .hamburger__bars::before {
  top: -12px;
}
.header .hamburger__bars::after {
  bottom: -12px;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .header .hamburger {
    display: none;
  }
}
.header .hamburger.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .hamburger.active + .hamburger {
  -webkit-transform: translateY(400px);
          transform: translateY(400px);
}
.header__info {
  background-color: #192a46;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  background-image: url("../images/headerimg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
@media (min-width: 667px) and (orientation: landscape) {
  .header__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .header__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .header__info {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 90px 50px 0 70px;
  }
}
@media (min-width: 2000px) and (orientation: landscape) {
  .header__info {
    padding: 90px 50px 0 200px;
  }
}
.header__info-box {
  background: radial-gradient(circle, rgb(23, 23, 23) 0%, transparent);
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .header__info-box {
    width: 80%;
  }
}
@media (min-width: 667px) and (orientation: landscape) {
  .header__info-box {
    width: 70%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .header__info-box {
    width: 50%;
  }
}
.header__info-title {
  font-size: clamp(2.8rem, 4.9vw, 5rem);
  color: #c1a370;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .header__info-title {
    margin-bottom: 40px;
  }
}
@media (min-width: 2000px) and (orientation: landscape) {
  .header__info-title {
    font-size: clamp(2.8rem, 5.2vw, 6.3rem);
  }
}
.header__info-text {
  margin-top: 15px;
  color: #fff;
  font-size: clamp(1.7rem, 1.4vw, 3.2rem);
  font-weight: 400;
}
.header__info-wrapper {
  width: 100%;
}
.header__info-wrapper-title {
  font-size: clamp(3rem, 5.7vw, 5.5rem);
  font-weight: 300;
  text-transform: uppercase;
  color: #c1a370;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  background: radial-gradient(circle, rgb(23, 23, 23) 0%, transparent);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 667px) and (orientation: landscape) {
  .header__info-wrapper-title {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 2.5rem;
    width: 50%;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .header__info-wrapper-title {
    bottom: 0;
    right: 0;
    padding: 15px;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .header__info-wrapper-title {
    font-size: clamp(3rem, 5.7vw, 5.5rem);
  }
}
@media (min-width: 2000px) and (orientation: landscape) {
  .header__info-wrapper-title {
    font-size: clamp(3.2rem, 6.3vw, 6.5rem);
    bottom: 0;
    right: 0;
  }
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: rgb(27, 35, 46);
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
aside .navigation__menu {
  list-style: none;
}
aside .navigation__menu-item {
  text-align: center;
  margin-bottom: 20px;
}
aside .navigation__menu-item a {
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
  color: #fff;
  text-decoration: none;
  position: relative;
}
aside .navigation__menu-item a .underline {
  display: block;
  position: absolute;
  top: 120%;
  left: -5%;
  width: 0;
  height: 2px;
  background-color: #c1a370;
}
aside .navigation__menu-item a:hover {
  color: #c1a370;
}
aside .navigation__menu-item a.active {
  color: #c1a370;
  text-transform: uppercase;
}
aside .navigation__menu-item a.active .underline {
  width: 110%;
}
aside .navigation__menu-item-dialer {
  margin-top: 35px;
}
aside .navigation__menu-item-dialer a {
  padding: 7px 15px;
  background-color: #c1a370;
  text-decoration: none;
  border-radius: 20px;
  color: #000;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
}
@media (min-width: 667px) and (orientation: landscape) {
  aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  aside {
    display: none;
  }
}

.desktop {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(27, 35, 46);
  padding: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: padding 0.3s ease, background-color 0.3s ease;
  transition: padding 0.3s ease, background-color 0.3s ease;
}
.desktop .navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.desktop .navigation__menu-item {
  text-align: center;
}
.desktop .navigation__menu-item a {
  margin: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
  color: #fff;
  text-decoration: none;
  position: relative;
}
.desktop .navigation__menu-item a .underline {
  display: block;
  position: absolute;
  top: 120%;
  left: -5%;
  width: 0;
  height: 2px;
  background-color: #c1a370;
}
.desktop .navigation__menu-item a:hover {
  color: #c1a370;
}
.desktop .navigation__menu-item a.active {
  color: #c1a370;
  text-transform: uppercase;
}
.desktop .navigation__menu-item a.active .underline {
  width: 110%;
}
.desktop .navigation__menu-item-dialer a {
  padding: 7px 15px;
  background-color: #c1a370;
  text-decoration: none;
  border-radius: 20px;
  color: #000;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
}
.desktop .logo {
  width: 160px;
}
.desktop .logo-desktop {
  width: 100%;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sticky {
  padding: 25px;
  background-color: rgba(27, 35, 46, 0.85);
}

.slider {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  max-width: 2000px;
  margin: 0 auto;
}
.slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: scrollSlider 20s linear infinite;
          animation: scrollSlider 20s linear infinite;
  --translate: 0px;
  --duration: 20s;
}
.slider__track-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  width: auto;
  max-width: 120px;
}
@media (min-width: 768px) {
  .slider__track-logo {
    max-width: 150px;
  }
}
@media (min-width: 1024px) {
  .slider__track-logo {
    max-width: 200px;
    margin: 0 40px;
  }
}
.slider__track-logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes scrollSlider {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-1 * var(--translate)));
            transform: translateX(calc(-1 * var(--translate)));
  }
}

@keyframes scrollSlider {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-1 * var(--translate)));
            transform: translateX(calc(-1 * var(--translate)));
  }
}
.gallery {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  display: grid;
}
.gallery__item {
  display: grid;
  grid-auto-rows: minmax(50vh, auto);
}
@media (min-width: 768px) {
  .gallery__item {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .gallery__item {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .gallery__item {
    grid-auto-rows: 60vh;
  }
}
.gallery__item-photo {
  height: 50vh;
}
.gallery__item-photo-one {
  background-image: url("../images/coffeemachine.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.gallery__item-photo-three {
  background-image: url("../images/plan.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
@media (min-width: 768px) {
  .gallery__item-photo {
    grid-column: 1/2;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .gallery__item-photo {
    grid-column: 1/2;
    height: auto;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .gallery__item-photo {
    height: 60vh;
  }
}
.gallery__item-photo-right {
  height: 50vh;
}
.gallery__item-photo-right-two {
  background-image: url("../images/tools.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.gallery__item-photo-right-four {
  background-image: url("../images/table.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
@media (min-width: 768px) {
  .gallery__item-photo-right {
    grid-column: 2/3;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .gallery__item-photo-right {
    grid-column: 2/3;
    height: 100%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .gallery__item-photo-right {
    height: 60vh;
  }
}
.gallery__item-text {
  background-color: #decdb2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .gallery__item-text {
    grid-column: 2/3;
    grid-row: 1;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .gallery__item-text {
    grid-column: 2/3;
    grid-row: 1;
  }
}
.gallery__item-text-right {
  background-color: #192a46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .gallery__item-text-right {
    grid-column: 1/2;
    grid-row: 1;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .gallery__item-text-right {
    grid-column: 1/2;
    grid-row: 1;
  }
}
.gallery__item-header {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  color: #192a46;
  padding: 30px 50px;
  border-bottom: 3px solid #c1a370;
}
.gallery__item-header-right {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  color: #fff;
  padding: 30px 50px;
  border-bottom: 3px solid #c1a370;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .gallery__item-header {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.gallery__item-p {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  padding: 30px 50px;
  color: #192a46;
  width: 100%;
  max-width: 750px;
}
.gallery__item-p-right {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  padding: 30px 50px;
  color: #fff;
  width: 100%;
  max-width: 750px;
}
.gallery__item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.gallery__item-button a {
  position: relative;
  padding: 20px 35px;
  margin: 40px;
  background-color: #c1a370;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
  font-weight: 700;
  text-decoration: none;
  color: #192a46;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.gallery__item-button a:hover {
  background-color: #9c7c46;
}
.gallery__item-button a .fa-arrow-right {
  margin-right: 10px;
}

.realizations {
  background-image: url("../images/glasses.jpg");
  background-size: cover;
  background-position: 50% 50%;
  max-width: 2000px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.realizations__header {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  color: #fff;
  padding: 20px;
}
.realizations__header-gold {
  color: #c1a370;
}
.realizations__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  position: relative;
}
.realizations__wrapper-photo {
  width: 85vw;
  height: 85vw;
  max-width: 420px;
  max-height: 420px;
  background-color: #fff;
  border-radius: 50%;
  border: 7px solid #c1a370;
  background-image: url("../images/table.jpg");
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media (min-width: 768px) {
  .realizations__wrapper-photo {
    width: 50vw;
    height: 50vw;
  }
}
@media (min-width: 1024px) {
  .realizations__wrapper-photo {
    width: 35vw;
    height: 35vw;
    max-width: 550px;
    max-height: 550px;
  }
}
.realizations__wrapper-arrows {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 760px;
}
@media (min-width: 768px) {
  .realizations__wrapper-arrows {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 70vw;
  }
}
@media (min-width: 1024px) {
  .realizations__wrapper-arrows {
    width: 50vw;
  }
}
.realizations__wrapper-arrow {
  padding: 12px 15px;
  margin: 0 10px;
  background-color: #c1a370;
  color: #192a46;
  border: none;
  border-radius: 50%;
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.realizations__wrapper-arrow:hover {
  background-color: #9c7c46;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .realizations__wrapper-arrow {
    cursor: pointer;
  }
}

.footer {
  background-color: #192a46;
  color: #fff;
  padding: 25px 10px;
}
@media (min-width: 720px) {
  .footer {
    padding: 20px;
  }
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}
.footer__wrapper-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__logo img {
  width: 100%;
  max-width: 200px;
}
@media (min-width: 720px) {
  .footer__logo img {
    width: 60%;
  }
}
.footer__help-header {
  color: #c1a370;
  font-size: clamp(2.2rem, 4vw, 3.7rem);
}
.footer__help-details {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 15px;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.footer__contact-wrapper {
  margin-left: 15px;
}
.footer__contact-details {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
}
.footer__contact-details .fa-phone {
  padding: 10px;
  background-color: #c1a370;
  border-radius: 50%;
  color: #192a46;
}
.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.footer__email-wrapper {
  margin-left: 15px;
}
.footer__email-details {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
}
.footer__email-details .fa-envelope {
  padding: 10px;
  background-color: #c1a370;
  border-radius: 50%;
  color: #192a46;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 720px) {
  .footer__socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
}
.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 720px) {
  .footer__adress {
    margin-right: 25px;
  }
}
.footer__adress-icon {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-right: 10px;
}
.footer__adress-icon .fa-location-dot {
  padding: 10px 12px;
  background-color: #c1a370;
  border-radius: 50%;
  color: #192a46;
}
.footer__adress-p {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
}
.footer__icons {
  margin-top: 15px;
}
.footer__icons-p {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
}
.footer__icons .fa-facebook-f, .footer__icons .fa-instagram, .footer__icons .fa-tiktok {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin: 5px 10px 0 0;
  color: #192a46;
  background-color: #c1a370;
  padding: 10px;
  border-radius: 50%;
}
.footer__icons .fa-facebook-f {
  padding: 10px 13px;
}
.footer__author {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .footer__author {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 70px;
  }
}
.footer__author-p {
  text-align: center;
  font-size: clamp(1.6rem, 1vw, 2.7rem);
}
@media (min-width: 1024px) and (orientation: landscape) {
  .footer__author-p {
    margin: 0 20px;
  }
}/*# sourceMappingURL=style.css.map */