$headerFont: 'Roboto Condensed', sans-serif;
$textFont: 'Lato', sans-serif;
$headerFontSize: clamp(2.2rem, 4vw, 3.7rem);
$headerFontSizeWide: clamp(2.2rem, 4vw, 4.5rem);
$textFontSize: clamp(1.6rem, 1vw, 2.7rem);
$accordionFontSize: clamp(1.8rem, 2.2vw, 2.2rem);
$darkColor: rgb(27, 35, 46);
$accordionActive: rgb(51, 70, 96);
$headerColor: rgb(15, 195, 249);
$white: #fff;

@mixin respond ($breakpoint) {
    @if ($breakpoint == tablet) {
        @media (min-width: 768px) {@content;}
    }
    @else if $breakpoint == desktop {
        @media (min-width: 1024px) {@content;}
    }
    @else if ($breakpoint == desktop-landscape) {
        @media (min-width: 1024px) and (orientation: landscape) {@content;}
    }
    @else if ($breakpoint == desktop-wide) {
        @media (min-width: 2000px) and (orientation: landscape) {@content;}
    }
    @else if ($breakpoint == menu-landscape) {
        @media (min-width: 667px) and (orientation: landscape) {@content;}
    }
}

.accordion {
    margin: 0 auto;
    position: relative;

    &__title {
        font-size: $headerFontSize;
        text-transform: uppercase;
        text-align: center;
        color: $headerColor;
        margin: 15px;

        @include respond(desktop-wide) {
            font-size: $headerFontSizeWide;
        }
    }

    &__item {
        margin-bottom: 15px;
        width: 90%;
        margin: 0 auto;

        @include respond(tablet) {
            width: 70%;
        }

        @include respond(desktop-landscape) {
            max-width: 1600px;
        }

        &-title {
            font-size: $accordionFontSize;
            padding: 20px;
            cursor: pointer;
            color: $darkColor;
            user-select: none;
            border-bottom: 2px solid rgb(179, 179, 179);

            & .fa-plus,
            & .fa-minus {
                margin-right: 15px;
                color: $headerColor;
            }
        }

        &-text {
            font-size: $textFontSize;
            padding: 10px;

            & .fa-check {
                color: #0d0;
                font-size: $textFontSize;
                margin-right: 5px;
            }
        }

        &-content {
            max-height: 0;
            overflow: hidden;
            margin: 15px;
            transition: max-height .3s ease;
        }
    }

    & .active .accordion__item-title {
        border: none;
        color: $headerColor;
    }
}

@keyframes fadeIn {
    0% {opacity: 0; transform: translateY(-10px)}
    100% {opacity: 100%; transform: translateY(0)}
}

article.active .content-text {
    display: block;
    animation: fadeIn .3s ease;
}