$headerFont: 'Roboto Condensed', sans-serif;
$textFont: 'Lato', sans-serif;
$headerFontSize: clamp(2.2rem, 4vw, 3.7rem);
$headerFontSizeWide: clamp(2.2rem, 4vw, 4.5rem);
$textFontSize: clamp(1.6rem, 1vw, 2.7rem);
$headerColor: rgb(15, 195, 249);

@mixin respond ($breakpoint) {
    @if ($breakpoint == tablet) {
        @media (min-width: 768px) {@content;}
    }
    @else if $breakpoint == desktop {
        @media (min-width: 1024px) {@content;}
    }
    @else if ($breakpoint == desktop-landscape) {
        @media (min-width: 1024px) and (orientation: landscape) {@content;}
    }
    @else if ($breakpoint == desktop-wide) {
        @media (min-width: 2000px) and (orientation: landscape) {@content;}
    }
    @else if ($breakpoint == menu-landscape) {
        @media (min-width: 667px) and (orientation: landscape) {@content;}
    }
}

.map {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include respond(desktop-landscape) {
        flex-direction: row;
        align-items: flex-start;
    }

    &__info {
        padding: 20px;

        @include respond(desktop-landscape) {
            width: 45%;
        }

        &-title {
            font-size: $headerFontSize;
            text-transform: uppercase;
            color: $headerColor;
            text-align: center;

            @include respond(desktop-landscape) {
                text-align: left;
            }

            @include respond(desktop-wide) {
                font-size: $headerFontSizeWide;
            }
        }

        &-text {
            font-size: $textFontSize;
            width: 90%;
            margin: 15px auto 0 auto;

            @include respond(tablet) {
                width: 70%;
            }

            @include respond(desktop-landscape) {
                width: 100%;
            }
        }
    }

    &__container {
        height: 40vh;
        width: 90%;
        border-radius: 12px;

        @include respond(tablet) {
            width: 75%;
        }

        @include respond(desktop-landscape) {
            height: 60vh;
            width: 45%;
        }
    }
}