* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 10px;
}

h1, h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
}

.hero {
  min-height: 100vh;
}
.hero .hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  z-index: 2;
}
.hero .hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}
.hero .hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #d00;
}
.hero .hamburger__bars::before, .hero .hamburger__bars::after {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #d00;
}
.hero .hamburger__bars::before {
  top: -12px;
}
.hero .hamburger__bars::after {
  bottom: -12px;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .hero .hamburger {
    display: none;
  }
}
.hero .hamburger.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.hero .hamburger.active + .hamburger {
  -webkit-transform: translateY(400px);
          transform: translateY(400px);
}
.hero .hamburger.active + aside {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.hero__info {
  background-color: rgb(27, 35, 46);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 667px) and (orientation: landscape) {
  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto 0 auto;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50vh;
  padding: 20px;
}
@media (min-width: 720px) and (orientation: landscape) {
  .hero__title {
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 667px) and (orientation: landscape) {
  .hero__title {
    width: 40%;
    max-width: 800px;
    height: 100vh;
    padding: 30px;
  }
}
.hero__title-h1 {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  color: #fff;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .hero__title-h1 {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.hero__title-h1 .hilight {
  color: #d00;
}
.hero__title-p {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 20px;
  color: #fff;
}
.hero__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto 0 auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50vh;
  background-image: url("../images/headerimg.png");
  background-size: cover;
  background-position: 50% 50%;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
@media (min-width: 667px) and (orientation: landscape) {
  .hero__photo {
    width: 40%;
    height: 100vh;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: rgb(27, 35, 46);
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
aside .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}
aside .logo .logo-mobile {
  width: 200px;
  height: 200px;
}
aside .navigation__menu {
  list-style: none;
}
aside .navigation__menu-item {
  text-align: center;
  margin-bottom: 10px;
}
aside .navigation__menu-item a {
  margin: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
  color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
aside .navigation__menu-item a:hover {
  color: #d00;
}
aside .navigation__menu-item a.active {
  color: #d00;
}
aside .navigation__menu-item-dialer a {
  padding: 7px 15px;
  background-color: #d00;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
}
@media (min-width: 667px) and (orientation: landscape) {
  aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  aside {
    display: none;
  }
}

.desktop {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(27, 35, 46);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: padding 0.3s ease, background-color 0.3s ease;
  transition: padding 0.3s ease, background-color 0.3s ease;
}
.desktop .navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.desktop .navigation__menu-item {
  text-align: center;
  margin-bottom: 10px;
}
.desktop .navigation__menu-item a {
  margin: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
  color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.desktop .navigation__menu-item a:hover {
  color: #d00;
}
.desktop .navigation__menu-item a.active {
  color: #d00;
}
.desktop .navigation__menu-item-dialer a {
  padding: 7px 15px;
  background-color: #d00;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
}
.desktop .logo-desktop {
  width: 80px;
  height: 80px;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sticky {
  padding: 10px;
  background-color: rgba(27, 35, 46, 0.85);
}

.catalogs {
  padding: 20px;
}
.catalogs__heading {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  color: #d00;
  text-align: center;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .catalogs__heading {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.catalogs__item {
  width: 90%;
  margin: 20px auto 0 auto;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .catalogs__item {
    width: 70%;
  }
}
.catalogs__item-h2 {
  font-size: clamp(1.7rem, 1.5vw, 2.3rem);
}
.catalogs__item-pdf {
  text-decoration: none;
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  color: #d00;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .catalogs__item-pdf {
    cursor: pointer;
  }
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer__heading {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  text-align: center;
  margin-top: 40px;
  color: #d00;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .offer__heading {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.offer__item {
  width: 90%;
  margin: 15px auto;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .offer__item {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}
.offer__photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer__photo img {
  width: 60%;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .offer__photo img {
    width: 40%;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .offer__photo img {
    width: 30%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .offer__photo img {
    width: 80%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .offer__photo {
    grid-column: 1/2;
  }
}
.offer__text {
  margin-top: 20px;
}
.offer__text-h2 {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
}
@media (min-width: 2000px) and (orientation: landscape) {
  .offer__text-h2 {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.offer__text-p {
  margin-top: 15px;
  font-size: clamp(1.6rem, 1vw, 2.7rem);
}
@media (min-width: 1024px) and (orientation: landscape) {
  .offer__text {
    grid-column: 2/5;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer {
  background-color: rgb(27, 35, 46);
  color: #fff;
  padding: 20px;
}
.footer__wrapper {
  padding: 15px;
}
@media (min-width: 720px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .footer__wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) and (orientation: landscape) {
  .footer__wrapper {
    width: 75%;
    max-width: 1600px;
  }
}
.footer__wrapper__adress, .footer__wrapper__contact, .footer__wrapper__rodo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  max-width: 33%;
}
.footer__adress, .footer__contact, .footer__rodo {
  margin-top: 30px;
}
.footer__adress h3, .footer__contact h3, .footer__rodo h3 {
  font-size: clamp(2.2rem, 4vw, 3rem);
}
.footer__adress-details, .footer__contact-details, .footer__rodo-pdf {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 5px;
}
.footer__rodo-pdf {
  color: #d00;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  display: block;
}
.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}
.footer__author img {
  width: 15%;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__details {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  text-align: center;
}

.footernav {
  margin-top: 20px;
}
@media (min-width: 720px) {
  .footernav {
    margin-right: 100px;
  }
}
@media (min-width: 1024px) {
  .footernav {
    margin: 0;
  }
}
.footernav__menu {
  list-style: none;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .footernav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footernav__menu-item {
  text-align: center;
  margin-bottom: 10px;
}
.footernav__menu-item a {
  margin: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
  color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.footernav__menu-item a:hover {
  color: #d00;
}
.footernav__menu-item a.active {
  color: #d00;
}
.footernav__menu-item-dialer {
  text-align: center;
}
.footernav__menu-item-dialer a {
  padding: 7px 15px;
  background-color: #d00;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  font-size: clamp(1.7rem, 1.4vw, 2rem);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects__heading {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
  color: #d00;
  text-align: center;
  margin-top: 40px;
}
@media (min-width: 2000px) and (orientation: landscape) {
  .projects__heading {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.projects__item {
  width: 90%;
  margin: 15px auto;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .projects__item {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}
.projects__photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .projects__photo {
    grid-column: 1/2;
  }
}
.projects__photo-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .projects__photo-right {
    grid-column: 4/5;
    grid-row: 1;
  }
}
.projects__photo-right img {
  width: 60%;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .projects__photo-right img {
    width: 40%;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .projects__photo-right img {
    width: 30%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .projects__photo-right img {
    width: 80%;
  }
}
.projects__photo img {
  width: 60%;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .projects__photo img {
    width: 40%;
  }
}
@media (min-width: 720px) and (orientation: landscape) {
  .projects__photo img {
    width: 30%;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .projects__photo img {
    width: 80%;
  }
}
.projects__text {
  margin-top: 20px;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .projects__text {
    margin: 0;
  }
}
.projects__text-h2 {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
}
@media (min-width: 2000px) and (orientation: landscape) {
  .projects__text-h2 {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.projects__text-p {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 15px;
}
.projects__text-right {
  margin-top: 20px;
}
.projects__text-right-h1 {
  font-size: clamp(2.2rem, 4vw, 3.7rem);
}
@media (min-width: 2000px) and (orientation: landscape) {
  .projects__text-right-h1 {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
  }
}
.projects__text-right-p {
  font-size: clamp(1.6rem, 1vw, 2.7rem);
  margin-top: 15px;
}
@media (min-width: 1024px) and (orientation: landscape) {
  .projects__text-right {
    grid-column: 1/4;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .projects__text {
    grid-column: 2/5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */