$headerFont: 'Roboto Condensed', sans-serif;
$textFont: 'Lato', sans-serif;
$headerFontSIze: clamp(2.2rem, 4vw, 3.7rem);
$headerFontSizeWide: clamp(2.2rem, 4vw, 4.5rem);
$textFontSize: clamp(1.6rem, 1vw, 1.7rem);
$menuFontSize: clamp(1.7rem, 1.4vw, 2rem);
$h2FontSize: clamp(1.5rem, 3vw, 2.8rem);
$footerh3: clamp(2.2rem, 4vw, 3rem);
$darkColor: rgb(27, 35, 46);
$headerColor: rgb(15, 195, 249);
$white: #fff;

@mixin respond ($breakpoint) {
    @if ($breakpoint == tablet) {
        @media (min-width: 768px) {@content;}
    }
    @if ($breakpoint == tablet-landscape) {
        @media (min-width: 720px) and (orientation: landscape) {@content;}
    }
    @else if $breakpoint == desktop {
        @media (min-width: 1024px) {@content;}
    }
    @else if ($breakpoint == desktop-landscape) {
        @media (min-width: 1024px) and (orientation: landscape) {@content;}
    }
    @else if ($breakpoint == desktop-wide) {
        @media (min-width: 2000px) and (orientation: landscape) {@content;}
    }
    @else if ($breakpoint == menu-landscape) {
        @media (min-width: 667px) and (orientation: landscape) {@content;}
    }
}

.contact {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 80px;

    @include respond(desktop-landscape) {
        width: 80%;
        max-width: 1600px;
        padding: 50px 0;
    }

    &__person {
        &-photo {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 60%;

                @include respond(tablet) {
                    width: 35%;
                }

                @include respond(tablet-landscape) {
                    width: 30%;
                }

                @include respond(desktop-landscape) {
                    width: 50%;
                }
            }
        }

        &-text {
            & h1,
            & h2 {
                font-size: $headerFontSIze;
                margin: 15px 0;

                @include respond(desktop-wide) {
                    font-size: $headerFontSizeWide;
                }
            }

            & h2 {
                font-size: $h2FontSize;
            }

            & p {
                font-size: $textFontSize;
            }
        }
    }
}