$headerFont: 'Roboto Condensed', sans-serif;
$textFont: 'Lato', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $textFont;
    font-size: 10px;
}

h1, h2, h3 {
    font-family: $headerFont;
}